hyperparams:
  age-extractor: {}
  simplified-transformer: {}
  regressor:
    n_estimators: 100
    max_depth: null

data:
  filepath: ./dataset.csv

metrics:
  - name: mean absolute error
    params: {}

search:
  jobs: -1
  grid:
    regressor:
      n_estimators: [50, 100, 200]
      max_depth: [null, 10, 20, 30, 60]

export:
  output_dir: ./models

reports:
  dir: ./reports